[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
isort = "*"
mypy = "*"
autoflake = "*"
ipython = "*"

[packages]
requests = "*"
python-dotenv = "*"
python-binance = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
